:root {
    --cor-fundo-primaria: #282a36;
    --cor-fundo-secundaria: #44475a; 
    --cor-primaria: #ff5555;
    --cor-secundaria: #ff79c6;
    --cor-terciaria: #bd93f9;
    --cor-quartenaria: #fcae11;
    --cor-texto-paragrafos: #ffffff;
}



html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--cor-fundo-primaria);
    margin: 10px 0;
    text-align: justify;
}

.titulo-da-pagina{
    color: var(--cor-primaria);
    line-height: 1.5;
    font-weight: bold;
    font-size: 30pt;
    text-align: center;
}

.subtitulo-da-pagina{
    color: var(--cor-primaria);
    line-height: 2;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
}

.titulo-de-artigo{
    color: var(--cor-quartenaria);
    line-height: 2;
    font-weight: bold;
    font-size: 20pt;
    padding-bottom: 10px;
    text-align: center;
}

.paragrafo-de-artigo {
    color: var(--cor-texto-paragrafos);
    padding: 15px;
    line-height: 1.5;
}

.cabecalho{
    background-color: var(--cor-fundo-secundaria);
    padding: 15px;
    text-align: center;
    line-height: 3;
    
}

.cabecalho a{
    color: var(--cor-quartenaria);
    text-decoration: none;
    font-weight: bold;
}

.cabecalho a:hover{
    color: var(--cor-quartenaria);
    text-decoration: overline;
    font-size: 13pt;
}

.cabecalho li{
    margin: 20px 10px;
    display: inline;
}

#introducao{
    padding: 200px 0;
    width: 100%;
    background: url("https://www.sp.senac.br/documents/297735/297737/cas_externa4-2800px.jpg/db76ca6d-e211-5ca4-ea14-8b78f953ac5f?version=1.0") no-repeat fixed center;
}

#cursos-engenharia{
    padding: 25px 150px;
    
}

.cursos{
    padding: 50px 0;
}

.cursos img{
    
    width: 500px;
    background-size: 100%;
    background-position: center;
    border-radius: 15px;
}


#periodo-evento h2{
    padding: 50px 0;
    background-color: var(--cor-fundo-secundaria);
}

#descricao-do-evento{
    padding: 100px 150px;
    background: url("https://www.sp.senac.br/documents/297735/297737/Biblioteca1.jpg/7d808973-0ede-7027-0f43-338a32f66176?version=1.0&t=1614185987139null") no-repeat fixed center;
    background-size: 100%
    
}

#descricao-do-evento h2{
    color: var(--cor-quartenaria); 
    background-color: var(--cor-fundo-secundaria);
    padding-top: 10px;
}

#descricao-do-evento p{
    color: var(--cor-texto-paragrafos); 
    background-color: var(--cor-fundo-secundaria);
    padding: 30px;
}

.cursos p{
    margin: 20px 10px;

}

.container-cursos-engenharia {
    /* display: flex;
    align-items: center; */
    text-align: center;
}

#empresas-participantes{
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-empresas-participantes {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.container-empresas-participantes figure{
    padding: 50px;
    width: 100%;
    height: 100%;
}

#dias-do-evento{
    padding: 50px 0;
    /* background: url("https://www.sp.senac.br/documents/20125/45323/3625_01-01-2023_297750117.jpg/b0bf4823-43fb-f224-7ed0-f52681f770ee?version=1.0&t=1662929486416null&download=true") no-repeat fixed center; */
    background: url(https://www.sp.senac.br/documents/20125/0/infra_cas.png/403d059e-869e-9964-3337-a0db42650e97?t=1646428305504) no-repeat fixed center;
    background-size: 100%;
}



.container-dias-do-evento {
    display: flex;
    align-items: center;
    margin: 10px auto;
    
}

.container-dias-do-evento article{
    padding: 50px 15px;
    width: 100%;
    height: 100%;
    margin: 20px 20px;
    background-color: var(--cor-fundo-secundaria);
    border-radius: 15px;
 
}

.paragrafo-de-dias{
    color: var(--cor-quartenaria);
    line-height: 2;
    font-weight: bold;
    font-size: 16pt;
    margin-bottom: 10px;
    text-align: center;
}

.paragrafo-de-agendamento{
    color: var(--cor-texto-paragrafos);
    padding: 15px;
    line-height: 1;
    text-align: center;
}

header figure{
    text-align: center;
}
.participe article{
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.container-participe{
    padding: 50px;
    width: 100%;
    height: 100%;
}

#entre-em-contato {
    padding: 50px 150px;
    text-align: center;
    background-color: var(--cor-fundo-secundaria);
}

#entre-em-contato li {
    display: inline;
   padding: 25px 25px;
}

footer{
    text-align: center;
    color: var(--cor-texto-paragrafos);
    margin: 20px;

}

footer p{
    padding-bottom: 10px;

}


  /* CSS media query dentro de um stylesheet */
@media only screen and (max-width: 768px) {
    #introducao{
        padding: 20px 0;
        width: 100%;
    }

    #cursos-engenharia{
        padding: 25px 15px;
    }

    .cursos img{
        width: 300px;
        background-size: 100%;
        background-position: center;
        border-radius: 15px;
    }

    #descricao-do-evento{
        padding: 100px 15px;
    }

    #empresas-participantes{
        padding: 100px 0;
        display: block;
        text-align: center;
    }
    
    .container-empresas-participantes {
        display: block;

    }
    
    .container-empresas-participantes figure{
        padding: 50px 0px;
        width: 100%;
        height: 100%;
    }

    #entre-em-contato {
        padding: 50px 0px;
        text-align: center;
    }
    
    #entre-em-contato li {
       display: block;
       padding: 25px 0px;
    }

    #dias-do-evento{
        padding: 50px 0;
      
    }

    .container-dias-do-evento {
        display: flex;
        align-items: center;
        margin: 10px 0;
        flex-direction: column;
        
    }

    .container-dias-do-evento article{
        padding: 50px 0px;
        width: 80%;
        height: 100%;
        margin: 20px 20px;
        background-color: var(--cor-fundo-secundaria);
        border-radius: 15px;
  }

  footer {
    padding-bottom: 10px;
    margin: 20px;
}

}